.header-memed .title {
  margin: 0 !important;
}
.header-memed .subtitle {
  margin: 0 !important;
}
.header-memed .big-action .btn__content {
  flex-direction: column;
  justify-content: center;
}
.header-memed .btn {
  height: 54px !important;
}